.header {
  background-color: #ffc328;
  text-align: center;
  color: whitesmoke;
  width: 100%;
  height: 15%;
  position: fixed;
  top: 1;
  z-index: -10;
}
.recipe{
    font-size: 55px;
}
.footer {
  background-color: #ffc328;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1%;
  vertical-align: bottom;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.background {
  background-color: #ffb120;
}

.logo {
  display: block;
  position: fixed;
  border-radius: 50%;
  right: 0;
  top: 0.3%;
  right: 0.3%;
  height: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  height: 14%;
}
.dropbtn {
    background-color: #ff0000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    left: 0;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ff7575;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ff7575;}